@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

body{
    font: normal normal 16px segoe ui;
    background-color: #202124;
    color: white;
}
header{
    text-align: center;

}
section{
    background-color: white;
    color: #202124;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.219);
    text-align: center;

}
#idLista{
    width: 200px;
    display: block;
    margin: 10px auto 10px auto;
}
footer{
    font-style: italic;
    margin: 10px;
    text-align: center;
}
footer > p > a{
    text-decoration: none;
    padding: 4px;
    color: white;
}

footer > p > a:hover{
    background-color: white;
    border-radius: 5px;
    color: #202124;
}